    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: Tahoma;
    }

    html{
        font-size: 1em;
        line-height: 1.6;
        background: #eee;
    }