.header{    
    &__brand{
        color: #52B91E;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        min-height: 200px;
    }
    &__brand{
        padding: $space;
    }
}

.breadcrumb{
    padding: $gutter;
    background: #52B91E;
    color: #fff;
    > span{
        &::before{
            display: inline-block;
            margin: 0 4px;
            content: '/';
            // color: rgba(0,0,0,.3);
        }
    }
    span:last-child{
        a{
            text-decoration: none;
        }
    }
    &__link{
        color: white;
        &--home{
            text-decoration: none;
        }
        
    }
}